# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual Environments
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# PyCharm
.idea/

# Output / databases
*.sqlite
*.db

# Include output folder and .csv files
!output/
!output/*.csv
